---
 import { supabase } from "../lib/backend";
 import type { Documentation } from "../lib/db";
 import Logout from "../components/logout.svelte";
 import Layout from "../layouts/Layout.astro";

 const { data, error } = await supabase
    .from("Documentation")
    .select("*")
    .order("id", { ascending: false });

    const docs: Documentation[]=data as Documentation[];
---
 
<script>
    import { supabase } from "../lib/backend";
    const { data: { user } } = await supabase.auth.getUser()
    if (!user) {
        window.location.href = "/"
    // }else {
    // if(user.id== '345f3cdf-6041-4924-be7f-5cee3b9e2534') {
    //     window.location.href = "/admin"
    // }
}
</script>
// <!-- Create a basic dashbaord -->
<Layout title="Dashbaord" loggedIn={true}>
    <!-- map the values of docs to a div container -->
    {docs?.map(docs => (
    <div class="text-white text-xl">
        <h1>{docs.title}</h1>
        <p>{docs.description}</p>
    </div>
    ))}
</Layout>