---
 import { supabase } from "../lib/backend";
 import type { Language } from "../lib/db";
 import Logout from "../components/logout.svelte";
 import Layout from "../layouts/Layout.astro";

 const { data, error } = await supabase
    .from("Language")
    .select("*")
    // .order("id", { ascending: false });

    const lang: Language[]=data as Language[];
---
 
<script>
    import { supabase } from "../lib/backend";
    const { data: { user } } = await supabase.auth.getUser()
    if (!user) {
        window.location.href = "/"
    // }else {
    // if(user.id== '345f3cdf-6041-4924-be7f-5cee3b9e2534') {
    //     window.location.href = "/admin"
    // }
}
</script>
<Layout title="Dashbaord" loggedIn={true}>
    <!-- map the values of lang to a div container -->
    <div class=" grid grid-cols-1 sm:grid-cols-3 place-items-center gap-y-6">
    {lang?.map(lang => (
    <div class="flex flex-col justify-items-center text-white w-96 h-auto bg-slate-900 rounded-xl outline-dashed outline-gray-400">
        <a href={/language/${lang.id}}>
            <p class="text-center text-2xl pt-2 pb-7 font-bold">{lang.language_name}</p>
            <p class="text-center text-sm pt-2 pb-7">{lang.description}</p>
        </a>
    </div>
    ))}
    </div>
</Layout>
