---
//  import { supabase } from "../lib/backend";
 import Logout from "../components/logout.svelte";
---
<script>
import { supabase } from "../lib/backend"

    // check if the github user is logged in
    let user = (await supabase.auth.getUser(Astro.cookies.get("my-access-token").value)).data.user
    if (!user) {
        Astro.redirect("/")
    }
</script>
<!-- Create a basic dashbaord -->
<div>
    <h1>My Dashboard</h1>
    <div class="row">
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
            Panel content
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
            Panel content
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
            Panel content
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
            Panel content
            </div>
        </div>
        </div>
    </div>
    <Logout client:only="svelte" />
</div>