---
import Layout from '../layouts/Layout.astro';
import Landing4 from '../components/lottie/landing/landing4.svelte';
import Landing5 from '../components/lottie/landing/landing5.svelte';

import Header from '../components/svelte/landing/header.svelte';
import Comparision from '../components/svelte/landing/comparision.svelte';
import Body1 from '../components/svelte/landing/body1.svelte';
---
<script>
    import { supabase } from "../lib/backend";
    const { data: { user } } = await supabase.auth.getUser()
	if (user) {
		window.location.href = "/dashboard"
	}
</script>
<Layout title="ReWritDocs">
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-6G5JS7QPYS"></script>
<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
	  
		gtag('config', 'G-6G5JS7QPYS');
	  </script>
	<Header client:only="svelte" />
	<Comparision client:only="svelte" />
	<Body1 client:only="svelte" />
	<div class=" h-screen items-center w-full" id="Footer">
		<div class="flex flex-col sm:flex-row justify-center w-screen sm:justify-evenly pt-32">
			<div class=" flex flex-col gap-4 place-items-center">
				<h1 class="text-5xl font-extrabold text-blue-600 w-[32rem]">Search documentation for everything</h1>
				<p class="text-xl w-96 text-center sm:text-center md:text-left text-white">Explore 1000+ user made content to help you better understand topics that you do not understand.</p>
			</div>	
			<Landing4 client:only="svelte" />
		</div>
	</div>
		<div class=" h-screen items-center w-full" id="Footer">
			<div class="flex flex-col sm:flex-row justify-center w-screen sm:justify-evenly pt-32">
				<div class=" flex flex-col gap-4 place-items-center">
					<h1 class="text-5xl font-extrabold text-blue-600 w-[32rem]">Your Personal AI Helper</h1>
					<p class="text-xl w-96 text-center sm:text-center md:text-left text-white">With OpenAI’s text-davinci-003, you can ask questions about code and receive top-notch answers. It can even write code for you, helping you to better convey your ideas, and speed up your writing process.</p>
				</div>	
				<Landing5 client:only="svelte" />
			</div>
	</div>
	<!-- Get started -->
	<div class="items-center w-full" id="Footer">
		<div class="flex flex-col justify-center w-screen">
			<div class=" flex flex-col gap-4 place-items-center">
				<h1 class="text-5xl font-extrabold text-center text-green-600 w-[32rem]">Login</h1>
				<p class="text-xl w-96 text-center text-white">Get started by creating an account and start writing documentation.</p>
				<a href="/login" class="bg-red-600 text-white px-4 py-2 rounded-lg w-auto place-self-center mb-72">Get started →</a>
			</div>	
		</div>
	</div>
	<p class="text-center text-white">Made with 💖 by Rangerdevv</p>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	#Header {
		/*  make a gradient blob at the top */
		background: linear-gradient(180deg, rgba(76, 26, 68, 0.644) 0%, rgba(255, 255, 255, 0) 100%);
	}

	@media (max-width: 768px) {
		#Header {
			/* change to no background */
			background-image: none;
		}
	}
</style>
