---
import Layout from '../layouts/Layout.astro';
import NavHome from '../components/navHome.svelte';
import Login from '../components/login.svelte';
---
<script>
    import { supabase } from "../lib/backend";
    const { data: { user } } = await supabase.auth.getUser()
	if (user) {
		window.location.href = "/dashboard"
	}
</script>
<Layout title="ReWritDocs">
	<NavHome  client:only="svelte"/>
	<div class=" w-screen h-screen" id="Header">
		<div class="flex flex-col justify-center items-center h-full">
			<h1 class="text-5xl font-extrabold text-center text-blue-600">Welcome to ReWriteDoc</h1>
			<p class="text-xl w-96 text-center text-white pt-3">A better way to read documentation.</p>
			<div class="flex flex-row justify-center items-center mt-10 gap-8">
				<Login client:only="svelte"/>
				<a href="/" class="bg-white text-black px-4 py-2 rounded-lg">Learn More</a>
			</div>
		</div>
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
