---
import Layout from '../layouts/Layout.astro';
import Lottie from '../components/svelte/lottie.svelte';
import Search from '../components/svelte/search.svelte';
// lottie files
import Landing1 from '../components/lottie/landing/landing1.svelte';
import Landing2 from '../components/lottie/landing/landing2.svelte';
import Landing3 from '../components/lottie/landing/landing3.svelte';
import Landing4 from '../components/lottie/landing/landing4.svelte';
import Landing5 from '../components/lottie/landing/landing5.svelte';
---
<script>
    import { supabase } from "../lib/backend";
    const { data: { user } } = await supabase.auth.getUser()
	if (user) {
		window.location.href = "/dashboard"
	}
</script>
<Layout title="ReWritDocs">
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-6G5JS7QPYS"></script>
<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
	  
		gtag('config', 'G-6G5JS7QPYS');
	  </script>
	<div class=" items-center w-full h-screen" id="Header">
		<div class="flex flex-col place-items-center pt-24">
			<h1 class="text-5xl font-extrabold text-center text-blue-600">Welcome to ReWriteDoc</h1>
			<p class="text-xl w-96 text-center text-white">A better way to read documentation.</p>
			<div class="flex flex-row justify-center items-center mt-10 gap-8">
				<!-- <a href="/login" class="bg-blue-600 text-white px-4 py-2 rounded-lg">Login</a>
				<a href="/register" class="bg-green-600 text-white px-4 py-2 rounded-lg">Register</a> -->
				<a href="/language/7" class="bg-orange-600 text-white px-4 py-2 rounded-lg w-auto place-self-center">Docs →</a>
			</div>
		</div>
	</div>
	<div class="items-center w-full" id="Features">
		<div class="flex flex-col place-items-center">
			<h1 class="text-5xl font-extrabold text-center text-blue-600">Features</h1>
			<div class="flex flex-col sm:flex-row justify-center items-center gap-8">
				<div class="flex flex-col place-items-center">
					<Landing1 client:only="svelte" />
					<h1 class="text-3xl font-extrabold text-center text-blue-600">Read</h1>
					<p class="text-xl w-96 text-center text-white">Read documentation in a better way.</p>
				</div>
				<div class="flex flex-col place-items-center">
					<Landing2 client:only="svelte" />
					<h1 class="text-3xl font-extrabold text-center text-blue-600">Write</h1>
					<p class="text-xl w-96 text-center text-white">Write documentation on undocumentaed topics.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="h-screen items-center w-full" id="Footer">
		<div class="flex flex-col sm:flex-row justify-center w-screen sm:justify-evenly pt-32">
			<div class=" flex flex-col gap-4 place-items-center">
				<h1 class="text-5xl font-extrabold text-blue-600 w-[32rem]">Easy to use</h1>
				<p class="text-xl w-96 text-center md:text-left text-white">ReWriteDoc is easy to use and easy to understand. 0 code required to post a documentation. No HTML, CSS, or JS. We handle it all for you!</p>
			</div>	
			<Landing3 client:only="svelte" />
		</div>
	</div>
	<div class=" h-screen items-center w-full" id="Footer">
		<div class="flex flex-col sm:flex-row justify-center w-screen sm:justify-evenly pt-32">
			<div class=" flex flex-col gap-4 place-items-center">
				<h1 class="text-5xl font-extrabold text-blue-600 w-[32rem]">Search documentation for everything</h1>
				<p class="text-xl w-96 text-center sm:text-center md:text-left text-white">Explore 1000+ user made content to help you better understand topics that you do not understand.</p>
			</div>	
			<Landing4 client:only="svelte" />
		</div>
	</div>
		<div class=" h-screen items-center w-full" id="Footer">
			<div class="flex flex-col sm:flex-row justify-center w-screen sm:justify-evenly pt-32">
				<div class=" flex flex-col gap-4 place-items-center">
					<h1 class="text-5xl font-extrabold text-blue-600 w-[32rem]">Your Personal AI Helper</h1>
					<p class="text-xl w-96 text-center sm:text-center md:text-left text-white">With OpenAI’s text-davinci-003, you can ask questions about code and receive top-notch answers. It can even write code for you, helping you to better convey your ideas, and speed up your writing process.</p>
				</div>	
				<Landing5 client:only="svelte" />
			</div>
	</div>
	<!-- Get started -->
	<div class="items-center w-full" id="Footer">
		<div class="flex flex-col justify-center w-screen">
			<div class=" flex flex-col gap-4 place-items-center">
				<h1 class="text-5xl font-extrabold text-center text-green-600 w-[32rem]">Login</h1>
				<p class="text-xl w-96 text-center text-white">Get started by creating an account and start writing documentation.</p>
				<a href="/login" class="bg-red-600 text-white px-4 py-2 rounded-lg w-auto place-self-center mb-72">Get started →</a>
			</div>	
		</div>
	</div>
	<p class="text-center text-white">Made with 💖 by Rangerdevv</p>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	#Header {
		/* image */
		background-image: url("../components/images/background_landing.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		
	}

	@media (max-width: 768px) {
		#Header {
			/* change to no background */
			background-image: none;
		}
	}
</style>
