---
import Layout from '../layouts/Layout.astro';
import Lottie from '../components/lottie.svelte';
---
<script>
    import { supabase } from "../lib/backend";
    const { data: { user } } = await supabase.auth.getUser()
	if (user) {
		window.location.href = "/dashboard"
	}
</script>
<Layout title="ReWritDocs">
	<div class=" w-screen h-screen" id="Header">
		<div class="flex flex-col place-items-center pt-24">
			<h1 class="text-5xl font-extrabold text-center text-blue-600">Welcome to ReWriteDoc</h1>
			<p class="text-xl w-96 text-center text-white">A better way to read documentation.</p>
			<div class="flex flex-row justify-center items-center mt-10 gap-8">
				<a href="/login" class="bg-blue-600 text-white px-4 py-2 rounded-lg">Login</a>
				<a href="/" class="bg-white text-black px-4 py-2 rounded-lg">Learn More</a>
			</div>
		</div>
	</div>
	<div class="w-screen h-screen" id="Features">
		<div class="flex flex-col place-items-center">
			<h1 class="text-5xl font-extrabold text-center text-blue-600">Features</h1>
			<div class="flex flex-col sm:flex-row justify-center items-center mt-10 gap-8">
				<div class="flex flex-col place-items-center">
					<img src="/assets/feature1.svg" class="w-96 h-96" />
					<h1 class="text-3xl font-extrabold text-center text-blue-600">Read</h1>
					<p class="text-xl w-96 text-center text-white">Read documentation in a better way.</p>
				</div>
				<div class="flex flex-col place-items-center">
					<img src="/assets/feature2.svg" class="w-96 h-96" />
					<h1 class="text-3xl font-extrabold text-center text-blue-600">Write</h1>
					<p class="text-xl w-96 text-center text-white">Write documentation in a better way.</p>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
