---

import Layout from "../layouts/Layout.astro";

---

<Layout title="TOS">
    <div class="text-white place-content-center">
        <h1 class="text-3xl font-bold p-6">Terms of Service</h1>
        <p class="text-xl p-10">
        Welcome to our website, which is dedicated to posting documentation and tutorials. Before using our services, please read these Terms of Service carefully. <br> <br>

        Introduction <br>
        By accessing or using our website, you agree to comply with and be bound by these Terms of Service, our Privacy Policy, and all applicable laws and regulations. <br> <br>
        
        Use of Content <br>
        All content posted on our website, including but not limited to text, images, videos, and tutorials, is licensed under the MIT License. You are free to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the content, subject to the conditions of the MIT License. Permission from the website owner is not required to use the content but is appreciated. <br> <br>
        
        User Conduct <br>
        You are solely responsible for any content you post on our website. You agree not to post any content that is abusive, defamatory, obscene, or violates any applicable law or regulation. You also agree not to use our website for any illegal or unauthorized purpose. <br> <br>
        
        Intellectual Property <br>
        All content posted on our website is the property of the website owner or its respective owners. You may not reproduce, modify, distribute, or sell any of the content without the prior written consent of the website owner. <br> <br>
        
        Disclaimer of Warranties <br>
        We do not warrant that our website will be error-free or uninterrupted, or that the content on our website will be accurate, complete, or current. We do not make any warranties, express or implied, regarding the use or the results of the use of the content on our website. <br> <br>
        
        Limitation of Liability <br>
        Under no circumstances shall we be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with the use or inability to use our website or its content. <br> <br>
        
        Indemnification <br>
        You agree to indemnify and hold us harmless from any and all claims, damages, or expenses (including attorneys' fees) arising out of or in connection with your use of our website or its content. <br> <br>
        
        Termination <br>
        We reserve the right to terminate your access to our website and its content at any time, without notice or liability, for any reason whatsoever. <br> <br>
        
        Changes to Terms of Service <br>
        We reserve the right to modify these Terms of Service at any time, without notice. Your continued use of our website following any such modifications constitutes your acceptance of the modified Terms of Service. <br> <br>
        
        Governing Law <br>
        These Terms of Service shall be governed by and construed in accordance with the laws of the jurisdiction in which the website owner is located, without giving effect to any principles of conflicts of law. <br> <br>
        
        Thank you for using our website!
        </p>
    </div>
</Layout>