---
export interface Props {
	title: string;
	loggedIn?: boolean
}

const { title, loggedIn = false } = Astro.props;
import { supabase } from '../lib/backend.js';
const refreshToken = Astro.cookies.get("my-refresh-token").value
const accessToken = Astro.cookies.get("my-access-token").value
if (refreshToken && accessToken) {
	await supabase.auth.setSession({
		refresh_token: refreshToken,
		access_token: accessToken,
	})
}
	
	
const currentUser = (await supabase.auth.getUser(accessToken)).data.user
var authed = currentUser !== null



import Logout from '../components/logout.svelte';
import Login from '../components/login.svelte';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="bg-black w-screen gap-6 m-6 flex flex-row text-xl font-semibold justify-center">
			<a href="/" class="text-white text-2xl pt-2">Home</a>
			<!-- {!user && (
				<a href="/login" class="text-white text-2xl pt-2">Login</a>
			)}
			{user && (
				<Logout client:only="svelte" />
			)} -->
			<!-- {!authed && (
				<Login client:only="svelte" />
			)} -->
			{authed && <Logout client:only="svelte" />}
		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: rgb(0, 0, 0);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	/* hide the side scroll */
	body {
		overflow-x: hidden;
	}
</style>
