---
import Logout from '../components/logout.svelte';
import Login from '../components/login.svelte';
import { supabase } from '../lib/backend.js';
import Search from '../components/svelte/search.svelte';
import LogRocket from 'logrocket';
LogRocket.init('qth7mh/rewrit');

export interface Props {
	title: string,
	loggedIn?: boolean
	currlocation?: string
	path?: string
}
const { title, loggedIn = false, currlocation="Documentation", path="docs" } = Astro.props as Props
const refreshToken = Astro.cookies.get("my-refresh-token").value
const accessToken = Astro.cookies.get("my-access-token").value
if (refreshToken && accessToken) {
	await supabase.auth.setSession({
		refresh_token: refreshToken,
		access_token: accessToken,
	})
}
	
	
const currentUser = (await supabase.auth.getUser(accessToken)).data.user
var authed = currentUser !== null
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="bg-[#03001C] w-screen gap-6 mt-6 flex flex-row justify-around pt-3">
			{!authed && <a href="/" class="text-white text-xl pl-4 font-semibold pt-2">Home</a>}
			{authed && <a href="/dashboard" class="text-white pl-4 text-xl pt-2 font-semibold">Home</a>}
			<Search client:only="svelte" currLocation={currlocation} path={path} />
			<div class="flex flex-row gap-3 mr-6">
				<div class="dropdown dropdown-end block sm:hidden">
					<label tabindex="0" class="btn m-1 text-white  bg-gray-800">Menu 🔻</label>
					<ul tabindex="0" class="dropdown-content menu p-2 shadow bg-zinc-900 rounded-box w-52 ">
						{!authed && <Login client:only="svelte"/>}
						{authed && <a href="/newassignment" class="bg-white text-black px-4 py-2 h-10 text-sm sm:text-base rounded-lg w-full">Create <span class="font-extrabold">+</span></a>}
						{authed && <Logout client:only="svelte"/>}
					</ul>
				  </div>
				  <div class="hidden sm:block sm:flex gap-9">
					{!authed && <Login client:only="svelte"/>}
					{authed && <a href="/newassignment" class="bg-white text-black px-4 py-2 rounded-lg w-full sm:w-auto ">Create <span class="font-extrabold">+</span></a>}
					{authed && <Logout client:only="svelte"/>}
				  </div>
				  <div class="hidden sm:block">
				</div>
			</div>
		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		background-color: #03001C;
		scroll-behavior: smooth;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #03001C;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	/* hide the side scroll */
	body {
		overflow-x: hidden;
	}
	/* make the nav sticky */
	nav {
		position: sticky;
		top: 0;
		z-index: 10;
	}
</style>
